*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 50%;
    background-color: rgba(208, 200, 200, 0.221);
    height: 70%;
    padding: 0 5%;
}

.logo{
    padding: 0 5%;

}

ol{
    color: aliceblue;
}

ol li a{
    color: aliceblue;
}

.img-bg{
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -99;
    left: 0;
    top: 0;
    height: 100vh;
}

.showcase{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 0 5%;
}

.left{
    width: 50%;
}

.left pre{
    font-size: 23px;
    font-weight: 100;
    letter-spacing: 1.2px;
}

.left h1{
    font-size: 120px;
    margin: 20px 0;
}

.left p{
    width: 320px;
    line-height: 24px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 100px 0;

}

.right .round{

    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

a.active{
    border-bottom:4px solid #fff ;
    padding: 0 10px;
}

#viewer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#titles{
    display: flex;
    gap: 20px;
}